*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.75)),url(image/bg2.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 150px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size:18px;
        
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #36f4d8;
    display: block;
    margin: auto;
    transition: 0.5s;

}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size:62px;
    
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 20px;
    color: #fff;
}
/* .hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background:transparent;
    position: relative;
    cursor: pointer;
} */
span{
    background:#009688;
    height: 100%;
    width: 0;
    border-radius:25px ;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
button{
    width: 200px;
    padding: 15px 0;
    text-align:center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    font-size: 18px;
    border: 2px solid #009688;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
button:hover span{
    width: 100%;
}
button:hover{
    border:none;
}
/* .hero-btn:hover{
    border: 1px solid #f44336;

} */

nav .fa{
    display: none;
}
@media(max-width: 700px){
    .text-box{
        font-size: 20px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background:#66eed9 ;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 1s;
    }
    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size:22px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;
    }
}

/*--------course------*/
.course{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h1{
    font-size: 36px;
    font-weight: 600;
}
p{
    color: #000000;
    font-size: 20px ;
    font-weight: 300;
    line-height: 30px;
    padding: 10px;
}
/* .row{
    margin-top: 5%;
    display:flex;
    justify-content: space-between;
}
.course-col{
    flex-basis: 100%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing:100px;
    transition: 0.5s;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.course-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
} */
.campus{
    width: 90%;
    min-height: 100vh;
    margin: auto;
    padding: 72px;
    text-align:left;
    padding-top: 100px;
    background-image:url(image/bg7.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
/* .campus p{
    float: left;
    width: 60%;
} */
img {
    float: right; /* Float the image to the right */
    width: 20%; /* Adjust the width as needed */
    border-bottom: #009688;
    border-radius: 8px;
  }
h1{
    font-size: 36px;
    font-weight: 600;
    text-align: center;
}
.facilities{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.wow{
    width: 90%;
    min-height: 100vh;
    margin: auto;
    padding: 72px;
    text-align:left;
    padding-top: 100px;
    background-image:url(image/bg55.jpg);
    background-position: center;
    background-size:cover;
    position: relative;
}


.collage-container {
    max-width: 900px;
    margin: 2em auto;
    display:flex;
    grid-template-columns: repeat(auto-fill, minmax(1000px, 1fr));
    gap: 16px;
    padding: 16px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  .collage-item {
    overflow: hidden;
    border-radius: 8px;
  }
  .collage-item img {
    display: block;
    width: 100%;
    height: auto;
  }
